.click {

    list-style-type: none;
    margin: 5px;
    display: flex;
    justify-content: space-around;


}

.button1 {
    background: linear-gradient(90deg, rgba(9, 198, 247, 1) 0%, rgba(220, 249, 14, 1) 35%, rgba(127, 175, 241, 1) 92%);
    ;
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;

}

.button1:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.button1:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.button2 {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 1em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;

}

.button2:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.button2:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.actualPage {
    padding: 20px;
    padding-left: 65px;
}

@media screen and (max-width: 767px) {
    .click {
        display: flex;
        justify-content: space-around;
    }

    .button1,
    .button2 {
        @media screen and (max-width: 767px) {
            .click {
                display: flex;
                justify-content: space-around;
            }

            .button1,
            .button2 {
                width: 30%;
            }

            .actualPage {
                padding-left: 20px;
            }
        }

        @media screen and (max-width: 500px) {
            .click {
                flex-wrap: wrap;
                justify-content: center;
            }

            .button1,
            .button2 {
                width: 85%;
                margin: 5px;
            }

            .actualPage {
                padding-left: 0;
                text-align: center;
            }
        }
    }

    .actualPage {
        padding-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    .click {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button1,
    .button2 {
        width: 85%;
        margin: 3px;
    }

    .actualPage {
        padding-left: 0;
        text-align: center;
    }
}