.backDetail {

    background: url('https://images.unsplash.com/photo-1572537577590-ac6a88150100?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') no-repeat center center;
    background-size: 100% 100%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.contenedor2 {
    width: 40%;

    margin: 10px;
    background-color: rgba(191, 123, 255, 0.781);
    ;
    border-radius: 20px;
    opacity: 0.9;
}

.img {
    width: 45%;
    height: 45%;
    border-radius: 20px;
}



.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #eefa04e6;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 20px;
}

.genres {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(255, 0, 144);
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 20px;
}

.platforms {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #016604;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 20px;
}

.rating {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #fc080ce8;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-left: 20px;
}